[auth]
token = ""
trustedseed = "SomeSeed"
#trustme = 1

[users]
trusted = []
newmembers = []
admins = []

[misc]
fightage = 300
spam_mute_duration=300
group=0

[lang]
welcome="Welcome to our chat! Добро пожаловать в наш чат!"
#nolinks="Hey, please dont send any links/etc, you are temporary muted. After mute expires, as you are new member, please introduce yourself(text only), so we can know if you are human, not spammer."
nolinks="Hey, please dont send any links/etc, you are temporary muted. After mute expires, as you are new member, please introduce yourself(text only), so we can know if you are human, not spammer."
startmsg="none"
nospamplease="не надо спамить"
nofight="не ссорится плиз, успокойтесь"
